*{
    margin: 0;
}
:root{
    --red: #ee3d33;
    --dar-red: #a21b1e;
    --grey: #c8c9cb;
}
header{
    background-color: black;
    height: 80px;
}
.logo{
    width: 20%;
    height: 100%;
    float: left;
}
.menu{
    width: 50%;
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
}
.lang{
    width: 30%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    flex-direction: row-reverse
}
.lang button{
    background-color: black;
    border: none;
    outline: none;
    text-align: center;
    margin: 5px;
}
.lang img{
    width: 40px;
    background-color: black;
}
.lang img:hover{
    width: 50px;
}
.logo img{
    height: 100%;
}
footer{
    clear: both;
    width: 100%;
    height: 15vh;
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.logo-footer{
    float: left;
}
.logo-footer img{
    height: 50px;
}
.contacts-footer{
    height: 100%;
}
.contacts-footer a{
    padding: 8px;
    border: 1.1px solid white;
    margin: 5px;
}
.social-media-icon img{
    width: 25px;
}
a{
    text-decoration: none;
    padding: 15px;
    border: 1px solid white;
    color: var(--grey);
    margin: 5px;
}
a:hover{
    color: white;
}